.App {
  size: 21cm 29.7cm;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
}
.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  height: 96vh;
 
  background: linear-gradient(#ffffff, #00000083);
  padding: 20px 15px;
  border-right: 2px solid rgb(0, 0, 0);
}

.name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.name img {
  width: 100px;
  height: auto;
  box-shadow: 5px 5px 10px rgba(148, 148, 148, 0.438);
  object-fit: cover;
  margin-bottom: 15px;
}
.iletisim {
  width: 90%;
}
.iletisim-right {
  width: 95%;
}
.iletisim,
.iletisim-right {
  background-color: #696969;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  margin: 5px 0;
  font-weight: 700;
  border-radius: 10px;
  margin-bottom: 10px;
}
.iletisim-items {
  width: 95%;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;

  word-spacing: 1px;
}
.iletisim-items > span {
  margin-bottom: 5px;
}
.iletisim-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.iletisim-icon {
  margin-right: 5px;
  width: 13px;
  height: auto;
  color: #696969;
  padding-left: 2px;
}

.left {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  border-left: 1px solid black;
  font-size: 12px;
  font-weight: 600;
  padding: 0 15px;
}
.left-cont {
  font-size: 12px;
  width: 96%;
  padding-left: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-spacing: 1px;
}
.left-cont > span {
  margin-bottom: 5px;
}

.left-cont-p > b:nth-child(3) {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.left-items {
  width: 95%;
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  text-align: justify;
  word-spacing: 1px;
}

.right-icon {
  margin-right: 5px;
  width: 12px;
  height: auto;
  color: #000000;
  padding-left: 2px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 97%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 90%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}
.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 15px;
  position: relative;
  width: 100%;

  text-align: right;
}

.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 2px;
  position: absolute;
  text-transform: uppercase;
  background-color: #696969 !important;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #696969;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 12px;

  margin: 10px 0;
}

.timeline-item-content a {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.timeline-item-content a::after {
  content: " ►";
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #696969;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 9px);
  right: -30px;
  width: 10px;
  height: 10px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -30px;
}
.left-items-a {
  color: #000000;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 20px;
  width: 100%;
  margin-bottom: 2px;
  background-color: #696969;
  color: #fff;
  font-weight: 700;
}
button:hover {
  background-color: #fff;
  color: #696969;
}
@media only screen and (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .right {
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .left {
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
